@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');

html, body{
    padding: 0;
    margin: 0;
    height: 100%
}

body {
    background-color: rgb(0, 148, 216);   
    color: white;
}

.container {
    margin: 0;
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer-button {
    position: relative;
    padding: 1em;
    padding-top: 1.3em;
    background-color:rgb(9, 75, 105);
    color: white;
    border: transparent;
    border-radius: 10%;
    margin-bottom: 0.5em;
    font-size: 1em;
}

#timer-button::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
    height: 1em;
    width: 100%;
    border-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: rgb(3, 61, 83);
}

#timer-button::after {
    content: "";
    display: inline-block;
    background-color: rgb(3, 61, 83);
    position: absolute;
    top: 100%;
    left: 30%;
    height: 2em;
    width: 40%;
    z-index: -1;
}

#timer-button:focus {
    outline: none;
}

#timer-button:active {
    transform: translateY(1em);
}

#timer {
    display: flex;
    background-color: rgb(22, 116, 160);
    border: 1em solid rgb(9, 75, 105);
    height: 800px;
    width: 800px;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    box-shadow: 1em 1em 1em rgb(6, 59, 83);;    
}

#timer #timer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-size: 12em;
    width: 800px;
    height: 150px;
}

#timer #timer-text #minutes {
    padding-left: 10%;
}

#timer #timer-text #colon{
    position: absolute;
    left: 50%;
}

#timer #timer-text #seconds {
    padding-right: 10%;
}

@media (min-device-width: 1200px){
    #timer {
        width: 400px;
        height: 400px;
    }

    #timer #timer-text {
        font-size: 7em;
        width: 380px;
    }
}