@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');

html, body{
    padding: 0;
    margin: 0;
    height: 100%
}

body {
    background-color: rgb(0, 112, 139);
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;    
}

button {
    cursor: pointer;
    color: white;
    border: transparent;   
}

.noHighlight {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.noHighlight:focus {
    outline: none;
}

.container {
    color: white;    
    margin: 0;
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons{
    height: 10em;
}

#timer-button {
    position: relative;
    left: 20%;
    line-height: 125px;    
    font-size: 2em;
    height: 100px;
    width: 200px;
    background-color:rgb(9, 75, 105);
    color: white;
    border-radius: 10%;
    margin-bottom: 0.5em;
}

#timer-button::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
    height: 1em;
    width: 100%;
    border-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: rgb(3, 61, 83);
}

#timer-button::after {
    content: "";
    display: inline-block;
    background-color: rgb(3, 61, 83);
    position: absolute;
    top: 100%;
    left: 30%;
    height: 2em;
    width: 40%;
    z-index: -1;
}

#timer-button:active {
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -o-transform: translateY(1em);
    -ms-transform: translateY(1em);
    transform: translateY(1em);
}

#settings-button {
    position: relative;
    left: 70%;
    top: 70%;
    height: 60px;
    width: 100px;
    margin-bottom: 1em;
    background-color:rgb(9, 75, 105);
    border-radius: 10%;
    font-size: 1em;

    /* rotate button */
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

#settings-button:active {
    -webkit-transform: translate(-1em, 1em) rotate(40deg);
    -moz-transform: translate(-1em, 1em) rotate(40deg);
    -o-transform: translate(-1em, 1em) rotate(40deg);
    -ms-transform: translate(-1em, 1em) rotate(40deg);
    transform: translate(-1em, 1em) rotate(40deg);
}

#settings-button::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
    height: 1em;
    width: 100%;
    border-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: rgb(3, 61, 83);
}

#settings-button::after {
    content: "";
    display: inline-block;
    background-color: rgb(3, 61, 83);
    position: absolute;
    top: 100%;
    left: 30%;
    height: 2em;
    width: 40%;
    z-index: -1;
}

#help-menu-button {
    background-color: rgb(9, 75, 105); 
    position: fixed;
    border-radius: 50%;
    top: 5%;
    left: 85%;
    font-size: 3em;    
    width: 2em;
    height: 2em;
}

#timer {
    display: flex;
    background-color: rgb(22, 116, 160);
    border: 1em solid rgb(9, 75, 105);
    height: 800px;
    width: 800px;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    box-shadow: 1em 1em 1em rgb(6, 59, 83);
    margin: -3em;
}

#timer #timer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12em;
    width: 800px;
    height: 150px;
}

#timer #timer-text #minutes {
    padding-left: 10%;
}

#timer #timer-text #colon{
    position: absolute;
    left: 50%;
}

#timer #timer-text #seconds {
    padding-right: 10%;
}

.menu {
    color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: white;
    z-index: 2;
    visibility: hidden;
    align-items: center;
}

.menu-header {
    display: flex;
    flex: 1;
    padding-left: 3em;
    padding-right: 3em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.menu-title {
    font-size: 7em;
    height: fit-content;
}

.menu-body {
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    width: 100%;
}

#help-menu-id {
    flex: 1;
}

#help-menu-body {
    display: flex;
    flex-direction: column;
    flex: 6;
    align-items: flex-start;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    box-sizing: border-box;    
}

.menu-body-text {
    font-size: 3em;
    overflow-y: scroll;    
}

.section-title {
    font-size: 2em;
}

.close {
    color: #aaa;
    float: right;
    cursor: pointer;
    font-size: 8em;
    font-weight: bold;
    height: fit-content;
    transition-duration: 0.8s;
    transition-property: transform;
}
.close:hover, #close:focus {
    color: black;
    text-decoration: none;

    /* rotating the close button */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.input {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 1em;
}

.input .input-title {
    display: flex;
    align-items: flex-end;
    font-size: 2em;
}

.input .mins-input .mins-suffix {
    font-size: 2em;
}

.settings-input {
    font-size: 4em;
}

.menu-footer {
    padding: 1em;
}

#apply-settings-button {
    background-color: rgb(148, 75, 75);
    border: transparent;
    border-radius: 10%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 4em;
    padding: 0.5em;
    width: fit-content;
}

#apply-settings-button:hover {
    background-color: rgb(109, 57, 57);
    cursor: pointer;
}

#progress {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
}

#current-state-text {
    font-size: 2em;
}

@media (min-device-width: 1200px){
    #timer {
        width: 400px;
        height: 400px;
        margin: -5em;
    }

    #timer #timer-text {
        font-size: 7em;
        width: 380px;
    }

    #timer-button {
        left: 25%;
        height: 4em;
        width: 7em;
        padding: 1em;
        padding-top: 1.3em;
        font-size: 1em;
        line-height: 1em;      
    }

    #settings-button {
        left: 60%;
        top: 50%;
        height: 3em;
        width: 5em;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #settings-button:active {
        -webkit-transform: translate(-0.5em, 1em) rotate(45deg);
        -moz-transform: translate(-0.5em, 1em) rotate(45deg);
        -o-transform: translate(-0.5em, 1em) rotate(45deg);
        -ms-transform: translate(-0.5em, 1em) rotate(45deg);
        transform: translate(-0.5em, 1em) rotate(45deg);
    }

    #help-menu-button {
        top: 5%;
        left: 90%;
        font-size: 2em;    
        width: 2em;
        height: 2em;
    }

    .menu {
        top: 10%;
        bottom: 10%;
        left: 20%;
        right: 20%;
    }

    .menu-title {
        font-size: 4em;
    }

    .menu-body-text {
        font-size: 2em;
    }

    .close {
        font-size: 3em;
    }

    .input {
        padding-top: 1em;
        padding-bottom: 1em; 
    }

    .input-title {
        font-size: 1em;
    }

    .settings-input {
        font-size: 2em;
    }

    #apply-settings-button {
        font-size: 2em;
        padding: 0.5em;
    }

    #progress {
        top: 20%;
    }
}